<!DOCTYPE html>
<!-- Notice the ng-app Angular directive. This tells Angular where the application starts and also
which module to associate the app with. In app.js we create the "dinnerPlanner" module. -->
<html lang="en" ng-app="trumpOrDump">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Let's be Trumping!!</title>

	<!-- add icon to browser -->
	<link rel="icon" href="images/trump.jpg">
	
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    </style>

  </head>
  <body>
    <!-- Here in index.html you should put only the layout that is shared among all the screens (e.g. header
    ,footer, etc.). The rest of the view specific layout will go into the html partials (check partials folder) -->
	

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Trump or Dump</h1>
  <p class="w3-w3-padding-large w3-large w3-margin-top"> The greatest Trump tweet game in the world. (Dont tell the Chinese)</p>
  <!--<p class="w3-xlarge">Template by w3.css</p>-->
 
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-32 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Instructions</h1>
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
    </div>

    <div class="w3-third w3-center">
     <img src="http://i2.cdn.cnn.com/cnnnext/dam/assets/161107120239-01-trump-parry-super-169.jpg" alt="Trump" height="100%" width="100%">
    </div>
  </div>
</div>

<!--VS-->

<div class="w3-row-padding w3-padding-8 w3-container">
	<div class="w3-content">
	    <div class="w3-third w3-center">
			<img style="padding-left: 300px" src="https://img.clipartfest.com/692741231a06c2d6df12ce88304b320f_versus-clipart-1-versus-icon-clipart_299-225.png" alt="Versus" height="150px"/>
		</div>
	</div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-padding-32 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
	      <img src="http://i.imgur.com/zYRWLo7.png" alt="Dump" height="100%" width= "100%">
	</div>

    <div class="w3-twothird">
      <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
    </div>
  </div>
</div>
<div class="w3-container w3-red w3-center" style="padding:32px 16px">
    <button style="padding-top:"32px" href ="#/question" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Let's get Trumping</button>
    <!-- Footer -->
<footer class="w3-container w3-padding-48 w3-center w3-opacity">  
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>

 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
</div>




    <!-- ng-view Angular directive is where the partials will be loaded. app.js configures the $routingProvider
    where you specify which partial should be loaded when. -->
    <div ng-view></div>

  </body>
</html>